@charset "utf-8";
/* CSS Document */

/*html, body {
	width: 100%;
	overflow-x: hidden;
} */
* {
    text-decoration: none !important;
    outline: none !important;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    background: #fff;
    letter-spacing: 0.4px;
    overflow-x: hidden;
    color: #333333;
}
img 
{
    width: auto;
    max-width: 100%;
    height: auto;
    border: 0;
}
ul,
ol 
{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover,a:focus
{
    text-decoration: none;
}
ol 
{
    list-style: decimal inside;
}
h1, h2, h3, h4, h5, h6 
{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    color: #0d141e;
    line-height: 30px;
    font-family: "Raleway", "Serif";
}

p
{
    margin: 0;
    padding: 0;
    color: #050707;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
b, strong 
{
    font-weight: 600;
}
blockquote 
{
    margin: 0;
    padding: 0;
    border: none;
}
a, a:hover, a:visited 
{
    color: #21a108;
}
::selection 
{
    background: #21a108;
    color: #fff;
}
::-moz-selection 
{
    background: #21a108;
    color: #fff;
}
a:focus,p:focus,div:focus,input:focus,textarea:focus,submit:focus,button:focus
{
    outline:none;
}

/***************
Scroll Bar Design
**************/
/* width */
::-webkit-scrollbar 
{
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track 
{
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #000; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #38b4f3; 
}
/***************
Scroll Bar Design
**************/
/***************
page scrool
**************/
.scrollup 
{
    right: 15px;
    position: fixed;
    border-radius: 200px;
    bottom: -80px;
    width: 45px;
    height: 45px;
    z-index: 9999;
    background:#000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    text-align: center;
    color: #FFF;
    padding: 15px;
}
.scrollup.active 
{
    bottom: 92px;
    right: 15px;
}
.scrollup:hover 
{
    background-color: rgba(37, 37, 37, 0.7);
}

/***************
page scrool
***************/

/********HAMBURGER ICON***********/
.hamburger 
{
    padding:0px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}
.hamburger:hover 
{
    opacity: 1; 
}
.hamburger-box 
{
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative; 
}
.hamburger-inner 
{
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after 
{
    width: 30px;
    height: 2px;
    background-color: #1fb418;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after 
{
    content: "";
    display: block; 
}
.hamburger-inner::before 
{
    top: -10px; 
}
.hamburger-inner::after 
{
    bottom: -10px; 
}
/** Spring **/
.hamburger--spring .hamburger-inner 
{
    top: 2px;
    transition: background-color 0s 0.13s linear; 
}
.hamburger--spring .hamburger-inner::before 
{
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spring .hamburger-inner::after 
{
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spring.is-active .hamburger-inner 
{
    transition-delay: 0.22s;
    background-color: transparent; 
}
.hamburger--spring.is-active .hamburger-inner::before 
{
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); 
}
.hamburger--spring.is-active .hamburger-inner::after 
{
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); 
}
/** Spring **/

/********HAMBURGER ICON***********/

/*******************************
********NAV BAR*****************
*****************************/
#pull 
{
    display: none;
}
.nav 
{
    float: right;
}
.nav > ul > li 
{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    margin: 0px 44px 0px 0px;
}
.nav > ul > li:last-child,
.nav > ul > li:only-child 
{
    margin: 0;
}
.nav > ul > li::before 
{
    position: absolute;
    bottom:0px;
    left: 0px;
    z-index: 1;
    content: " ";
    width: 100%;
    height: 3px;
    background: #1db315;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.nav > ul > li:hover::before,
.nav > ul > li.current-menu-item::before,
.nav > ul > li.current-menu-parent::before,
.nav > ul > li.current-menu-ancestor::before 
{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}
.nav > ul > li > a 
{
    position: relative;
    z-index: 1;
    display: block;
    width: auto;
    height: auto;
    padding: 20px 0px;
     color: #808080;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.nav > ul > li:hover > a,
.nav > ul > li.current-menu-item > a,
.nav > ul > li.current-menu-parent > a,
.nav > ul > li.current-menu-ancestor > a 
{
    color: #1db315;
}

.nav > ul > li > ul 
{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    width: 300px;
    height: auto;
    padding: 0px 0px 0px 0px;
    background: none;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.nav > ul > li:last-child > ul,
.nav > ul > li:nth-last-child(2) > ul 
{
    left: auto;
    right: 0;
}
.nav > ul > li:hover > ul 
{
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.nav > ul > li > ul > li,
.nav > ul > li > ul > li > ul > li 
{
    position: relative;
    width: 100%;
    height: auto;
    float: left;
}
.nav > ul > li > ul > li > a,
.nav > ul > li > ul > li > ul > li > a 
{
    display: block;
    width: auto;
    height: auto;
    padding: 2px 15px 1px 15px;
    background: rgba(11, 30, 48, 0.8);
    border-top: 1px #485665 solid;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.nav > ul > li:hover > ul > li > a,
.nav > ul > li:hover > ul > li > ul > li > a 
{
    padding: 9px 15px 10px 15px;
}
.nav > ul > li > ul > li:hover > a,
.nav > ul > li > ul > li.current-menu-item > a,
.nav > ul > li > ul > li.current-menu-parent > a,
.nav > ul > li > ul > li > ul > li:hover > a,
.nav > ul > li > ul > li > ul > li.current-menu-item > a,
.nav > ul > li > ul > li > ul > li.current-menu-parent > a 
{
    background: #199adb;
}
.nav > ul > li > ul > li > ul 
{
    position: absolute;
    top: 10%;
    left: 100%;
    z-index: 9999;
    width: 240px;
    height: auto;
    background: none;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.nav > ul > li:last-child > ul > li > ul,
.nav > ul > li:nth-last-child(2) > ul > li > ul 
{
    left: auto;
    right: 100%;
}
.nav > ul > li > ul > li:hover > ul 
{
    top: 0;
    opacity: 1;
    visibility: visible;
}
.middle-conter 
{
    width: 100%;
    display: inline-block;
    vertical-align: top;

}
/*******************************
********NAV BAR*****************
*****************************/

.logo
{
    float: left;
    width: auto;
    height: auto;
    padding: 0px;
}

/************ End Header ***************/


/* ******************************************** */
/******************* Gallery Start **************/
/* ******************************************** */

.gallery-area{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 80px 0px;
}
.gallery-area > .container-fluid .gallerys {
    margin-right: -15px;
    margin-left: -15px;
}

.gallery-holder{
    width: 98%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin: 1%;
}
.gallery-holder img{
    width: 100%;
}
.gallery-holder > .holder{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    background-size:cover !important;
    background-position: center !important; 
}

.gallery-holder > .holder .capson{
    background: rgba(8, 21, 52, 0.80);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-100%,0px);
    transition: all 0.4s;
}
.gallery-holder:hover .holder .capson{
    transform: translate(0px,0px);
}
.gallery-holder > .holder .capson .lightbox{
    position: relative;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    transform: translate(-500%,0px);
    transition: all 0.9s;
}
.gallery-holder:hover > .holder .capson .lightbox{
    transform: translate(0px,0px);
}

.gallery-holder > .holder .capson .lightbox i{
    position: relative;
    z-index: 1;
}
.gallery-holder > .holder .capson .lightbox::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: rotateZ(0deg);
    z-index: 0;
    transition: all 0.3s;

}
.gallery-holder > .holder .capson .lightbox:hover::after{
    background: #d2202d;
    transform: rotateZ(45deg);
}

.tab-center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.tab-center button{
    margin: 5px 1px;
    width: 165px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    font-size: 13px;
}
.tab-center button:first-child{
    background: #133d99;
 
}
.tab-center button:last-child{
    background: #d2202d;
}

/* ******************************************** */
/******************* Gallery End **************/
/* ******************************************** */









/***********Responsive**************/


@media only screen and (max-width: 1200px)
{
	
}

@media only screen and (max-width: 992px) 
{
	
/*******************************
********NAV BAR*****************
*****************************/
    .nav 
    {
        float: right;
        width: 100%;
    }
    .logo 
    {
        margin-bottom: 0px;
    }
    .header .row
    {
        margin: 0px;
    }
    #pull 
    {
        display: block;
        width: auto;
        float: right;
        margin-top: 30px;
    }
    ul#menu-bg 
    {
        display: none;
    }
    .header-phone 
    {
        margin-left: 40px;
        margin-top: 14px;
    }
    .top-icon 
    {
        margin-top: 31px;
    }

    .nav > ul > li
    {
        display: block;
        margin: 0;
    }

/*******************************
********NAV BAR*****************
*****************************/


	
}



@media only screen and (max-width: 768px) 
{
	
}

@media only screen and (max-width: 600px) 
{
	
}

@media only screen and (max-width: 480px) 
{
	
}

@media only screen and (max-width: 320px) 
{
	
	
}
